<%#debugger%>
<% provide(:title, 'Help') %>
<h1>Help</h1>
<div>
	Find me in app/views/static_pages/help.html.erb <br />

	why are all discriminative positions encoded by "L"? <br />
	Genome file upload <br />
	Predicted genes <br />
	-> ref data: cymo from DATE <br />
	-> one protein selected: criteria <br />
	-> gene prediction: blast: params, augustus: params AND cite both <br />
	-> compare to cymo-alignment: discriminative positions: criteria <br />
	-> chem. properties: hydrophobic = V, I, L, polar = S, T <br />
	-> TODO
	-> DIALIGN output: capital letters are aligned, all other not
</div>

