<%= provide(:title, 'Home') %>
<%= content_tag(:h1, "Welcome to Bagheera") %>
<p>
	The translation of DNA into protein is not same for all organisms. Some yeast uses an alternative translation of the leucine codon CUG. In the <i>Schizosaccharomyces</i> and the <i>Saccharomyces</i> clades CUG is translated as leucine, while species of the “<i>Candida</i> clade” translate CUG as serine.
</p>
<p>
	Species names are not sufficient to assign the correct translation scheme. In detail, some species with telemorph or anamorph named <i>Candida</i> translate CUG as leucine.
</p>
<%= image_tag("help/startpage.png", :alt=>"phylogenetic net", :width=> "700px") %>
<p>
	This webserver is designed to detect the most probable translation scheme of a given species.
</p>
<%= content_tag(:h2, "Restrictions and Licence") %>
Using Bagheera by non-academics requires permission. The source code of a command-line version of Bagheera can be obtained upon request and used under a GNU Creative Commons License.