<% provide(:title, 'Translation') %>
<h1>Translation</h1>
<h2>Translate mRNA into protein</h2>
<%= render :partial => "show_mrna_options" %>
<br>
<h2>Check CTG translation in protein sequence</h2>
<%= render :partial => "show_protein_options" %>
<br>
<h1>Results</h1>
<div id="results_section">Start translation first.</div>
