<table>
<% @predicted_prots.keys.sort_by { |key| key.to_s.naturalized }.each do |key| %>
	<% errors = @predicted_prots[key][:message] %>
	<% if errors.any? && has_fatal_error(errors) %>
	    <% prot_name = get_prot_name(key, true) # true: detailed: include blast hit%>
    	<%= content_tag(:tr,
    		content_tag(:td, prot_name) +
    		content_tag(:td, errors.join(" ") )
    	) %>
	<% end %>
<% end %>
</table>
