</br>
<%= content_tag(:normal, "Index of CTG position[s] in the alignment") %>
<table>

<%= content_tag(:tr, 
	content_tag(:th, "CTG Position in sequence") + 
	content_tag(:th, "CTG Position in alignment") 
) %>
<% @ctgpos2alignment.each do |spos, apos| %>
	<%= content_tag(:tr,
		content_tag(:td, ruby2human_counting(spos).to_s) +
		content_tag(:td, ruby2human_counting(apos).to_s)
	) %>
<% end %>
</table>
</br>
