<% provide(:title, 'Prediction') %>
<h1>Prediction</h1>
<h2>Upload query data</h2>
<%= render :partial => "upload_file" %>
<br>
<h2 style="clear:both;">Gene prediction and alignment options</h2>
<%= render :partial => "show_options" %>
<!-- <h2>tRNA<sub>CAG</sub> search options</h2> -->
<%#= render :partial => "show_trna_options" %>
<h2>Start gene prediction and tRNA search</h2>
<%= render :partial => "show_options_submit" %>
<br>
<h1>Results</h1>
<div id="results_section">Start prediction first.</div>
<br>
<h1>Phylogenetic tree</h1>
<div id="tree_section">Start prediction first.</div>
