hide_show_waiting('hide');
<% if @error.blank? then %>
	$('#tree_section').append('<div id="tree"></div>');
	<% new_content = escape_javascript(render(partial: "tree_details"))%>
	$('#tree').html('<%=new_content%>');

	<% iframe_src = LUCULLUS_URL + "?source=" + @id + "&format=phb" %>
	<% new_content = content_tag(:iframe, "Loading ...", :src => iframe_src, 
		:width => "675px", :height => "500px", :id => "lucullus_tree_frame") %>
	$('#tree').append('<%=new_content%>');
<% else %>
	show_error('<%= raw(@error) %>');
<% end %>
